<%- include('partials/head')%>
<body>
    <h1>The Home Page <%=4+5+1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet consequatur a, autem nisi rem reprehenderit dolores? Natus odio reiciendis sed dignissimos, sint consectetur maiores. Ea temporibus eos cupiditate ex non!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae velit perferendis quisquam culpa, perspiciatis iusto ipsa! Tempora ut molestiae quidem quaerat dignissimos. Nostrum, tenetur. Suscipit aliquid nam quod nostrum harum.</p>
    
</body>
</html>