<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active"  href="/">Home</a>
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">New Campgrounds</a>
          
        </div>
        <!-- this moved the login button to the right hand side -->

        <div class="navbar-nav ml-auto">
          <!-- the if statement below helps us show the login information if we are logged in or not -->
          <!-- hence, when you are logged in, you will only see the log out button -->
          <% if(!currentUser) {%>
          <a class="nav-link" href='/login'>Login</a>
          <a class="nav-link" href='/register'>Register</a>
          <% } else { %>
          <a class="nav-link" href='/logout'>Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

